#!/bin/bash
#PPanalyze configuration file

#Populations for analysis#
POPS=1,2

#Input files and names#
USERDIR=${HOME}/scratch/poolparty/example
PREFIX=phenoAB_analyze
COVFILE=${USERDIR}/phenoAB/filters/phenoAB_coverage.txt
SYNC=${USERDIR}/phenoAB/phenoAB.sync
FZFILE=${USERDIR}/phenoAB/phenoAB.fz
BLACKLIST=${USERDIR}/phenoAB/filters/phenoAB_poly_all.txt
OUTDIR=${USERDIR}/phenoAB/analysis

#Types of Analyses#
FST=on
SLIDINGFST=on
FET=on
NJTREE=on

#Global Parameters#
MINCOV=2
MAXCOV=100
MAF=0.06

#FST Parameters#
FSTTYPE=traditional
WINDOW=10000
STEP=5000
NIND=5

#NJ Tree Parameters
STRWINDOW=10000
BSTRAP=2000
AFFILT=1
METHOD="mean"

#Dependencies#
POOL2=/usr/local/bin/popoolation2_1201/

#Languages needed on system#
	#bash/shell
	#perl
	#R
