#!/bin/bash
#PPstats configuration file

#Specify Files#
USERDIR=${HOME}/scratch/poolparty/example
FAI=${USERDIR}/PP_genome.fa.fai
MPILEUP=${USERDIR}/phenoAB/phenoAB_stats.mpileup
OUTDIR=${USERDIR}/phenoAB/stats
OUTFILE=PP_stats.txt

#Parameters#
SCAFP=Scaff
THREADZ=5
MINCOV=2
MAXCOV=250

#Languages needed on system#
	#bash/shell
	#R
